<br>
<div class="container">
    <div class="row">
      <div class="col-2"></div>  
      <div class="col-2">
          <input type="button" class="btn-success" value="Add Employee" (click)="ShowEmployeeAdd()">
        </div>
    </div>
  </div>
  
<div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">EmployeeID</th>
          <th scope="col">EmployeeName</th>
          <th scope="col">Department</th>
          <th scope="col">Salary</th>
          <th scope="col">PhoneNumber</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      
        <tr *ngFor="let employee of employees">
          <td>{{employee.employeeID}}</td>
          <td>{{employee.employeeName}}</td>
          <td>{{employee.department}}</td>
          <td>{{employee.salary}}</td>
          <td>{{employee.phoneNumber}}</td>
          <td><input type="button" name="Edit" value="Edit" (click)="editEmployee(employee.employeeID)" class="btn btn-info btn-sm"> &nbsp;<input type="button" name="Delete" value="Delete" (click)="deleteEmployee(employee.employeeID)" class="btn btn-danger btn-sm"></td>
        </tr>
   
      </tbody>
  </table>
  </div>
  </div>
  </div>

<div *ngIf="employeeDetailsVisible">
<form novalidate [formGroup]="form" *ngIf="form"  (ngSubmit)="saveEmployee()">
 <div>
    <input type="text" name="" formControlName="id" style="visibility: hidden;" class="form-control">
 </div>
 <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <div class="form-group">
                <label for="employeename">
                    Employee Name:
                </label>
                <input type="text" formControlName="name" class="form-control">
                <div *ngIf="form.get('name').touched && form.get('name').errors?.['required']" class="alert alert-danger">
                    Employee Name is Required
                </div>
            </div>
        </div>
 </div>
 <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
    <div class="form-group">
        <label for="department">
            Department:
        </label>
        <select  class="form-control" formControlName="department">
            <option  *ngFor="let department of alldepartments" [value]="department.departmentId">{{ department.departmentName }}</option>
        </select> 
    </div>
</div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
    <div class="form-group">
        <label for="salary">
            Salary:
        </label>
        <input type="text"  formControlName="salary" class="form-control">
    </div>
</div>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
    <div class="form-group">
        <label for="phonenumber">
            Phone Number:
        </label>
        <input type="text" formControlName="phoneNumber" class="form-control">
    </div>
</div>
</div>
<br><br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
    <input type="submit" [disabled]="form.invalid" name="Save" value="Save" class="btn btn-primary"> &nbsp;
    <input type="button" class="btn btn-secondary" name="Cancel" value="Cancel" (click)="Cancel()">
</div>
</div>
</form>
</div>

